{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ user.nickname}}!</h1>

		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center">Your username:
				<span>{{ user.nickname }}</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">Your email:
				<span>{{ user.email }}</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">Your password:
				<a href="{{ path('app_forgot_password_request') }}" class="badge bg-info rounded-pill">Reset your password</a>
			</li>
		</ul>
	</div>
{% endblock %}
