<div class="col-3 col-md-2">
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{ path('admin') }}">
				<i class="fas fa-home"></i>
				Admin</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('admin_user') }}">
				<i class="fas fa-users"></i>
				Users</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('admin_comment') }}">
				<i class="fas fa-comments"></i>
				Comments</a>
		</li>
	</ul>
</div>
