<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-none d-md-block">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('homepage') }}">Snowtricks</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('homepage') }}">Home
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Tricks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">Sign in</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Sign out</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="mobile-nav d-sm-block d-md-none">
	<div class="d-flex justify-content-around pt-2">
		<div>
			<a href="index.php">
				<i class="fas fa-home fa-2x text-info"></i>
			</a>
		</div>
		<div>
			<a href="index.php">
				<i class="fas fa-bookmark fa-2x"></i>
			</a>
		</div>
		<div>
			<a href="index.php">
				<i class="fas fa-sign-in-alt fa-2x"></i>
			</a>
		</div>
	</div>
</div>
