{% extends 'base.html.twig' %}

{% block title %}
	Error
{% endblock %}

{% block body %}
	<h1>An error has occurred</h1>
	<div class="trick-container">
		<p>
			<a href="{{ path('homepage') }}">return to the homepage</a>.
		</p>
	</div>
{% endblock %}
