<!-- Modal -->
<div class="modal fade" id="mainPictureModal" tabindex="-1" aria-labelledby="mainPictureModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mainPictureModalLabel">Choose main picture for
					{{ trick.name }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						{{ form_widget(formView.mainPicture) }}
						{{ form_label(formView.mainPicture) | trans | raw}}
						{{ form_row(formView._token) }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Return to edit</button>
			</form>
		</div>
	</div>
</div></div>
